*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 12% 20% auto 20% 19% 11%;
    grid-template-rows: 20% 5% auto 10% 6%;
    background: url(./Imagenes/Interfaz-pokéxpert.png) , #4c4c4c;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 960px;
    margin: auto;
    font-family: 'Wendy One', sans-serif;
}
.pantalla-principal{
    display: block;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3; 
    overflow: auto;
}
.pantalla-principal li{
    color: #fff;
}
.titulo-pokedex{
    grid-column-start:2;
    grid-column-end: 6;
    grid-row-start:1;
    justify-self: center;
}
.titulo-pokedex img{
    width: 50vw;
    height: 22vh;
}
#ordenar-por{
    display: block;
}
.ordenar-por{
    grid-column-start: 2;
    grid-row-start: 2;
}
.ordenar-por label{
    color: #fff;
}
.label-ordenar{
    font-size: 16pt;
    align-items: center;
    justify-items: center;
}
select{
    background-color: #4c6203;
    font-size: 12pt;
}
#pantalla-principal ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*align-content: center; */
    list-style: none;
}
#pantalla-principal ul li{
    width: 30%;
    text-align: center;
}
.boton-curiosidades{
    grid-column-start: 2;
    grid-row-start: 4;
    align-self: end;
}
.botones{
    display: grid;
    grid-column-start: 5;
    grid-row-start: 4;
    grid-template-columns: 50% 50%;
}
.botones button#boton-buscar{
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: #579ffb;
    border: solid black;
    border-radius: 16%;
    margin-top: 12px;
    height: 85%;
}
.botones button#boton-info{
    grid-column-start: 1;
    background-color: #579ffb;
    border: solid black;
    border-radius: 16%;
    margin-top: 12px;
    height: 85%;
    grid-row-start: 1;
}
.botones button#boton-regresar{
    display: none;
    grid-column-start: 1;
    background-color: #579ffb;
    border: solid black;
    border-radius: 16%;
    margin-top: 12px;

}
.botones button:hover{
    cursor: pointer;
}
#pantalla-ordenada{
    display: none;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3; 
    overflow: auto;
}
#lista-ordenada{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*align-content: center; */
    list-style: none;
}
#lista-ordenada li{
    color: #fff;
    width: 30%;
    text-align: center;
}
#pantalla-buscar{
    display: none;
    
}
.pantalla-buscar{
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    background-color: #5f5d5d;
    color: #fff;
    padding: 4vh;
    height: 84%;
    width: 110%;
    justify-self: center;
    align-self: start;
    border-radius: 2%;
}
.pantalla-buscar h1{
    color: black;
    font-size: 42pt;
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 10vh;
}
.por-nombre{
    margin-bottom: 8vh;
    text-align: center;
}
.por-tipo{
    float: left;
    margin-right: 3vh;
}
#tipo-pokemon, #debilidad-pokemon{
    width: 7vh;
}
#tipo-pokemon, #debilidad-pokemon:hover{
    cursor: pointer;
}
.por-debilidad{
    float: right;
}
.pantalla-buscar div label{
    color: black;
    font-size: 20pt;
}
.pantalla-buscar div input{
    background-color: #a2a2a2;
    width: 20vh;
    font-size: 17pt;
    height: 4vh;
    border: none;
}
.pantalla-buscar div button{
    background-color: #bb0a3a;
    border-radius: 10%;
    border: none;
    height: 5vh;
}
#buscar-nombre:hover{
    cursor: pointer;
}
.pantalla-buscar div p{
    text-align: center;
}
#pantalla-result-busqueda-nombre{
    display: none;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3; 
    align-self: start;
    justify-self: center;
}
#pantalla-result-busqueda-nombre ul{
    color: #fff;
    list-style: none;
    padding: 0px;
}
#pantalla-result-busqueda-nombre ul li img{
    height: 27vh;
}
#pantalla-result-busqueda-nombre ul li p{
    font-size: 14pt;
}
#pantalla-iconos-tipos{
    display: none;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;    
}
#busqueda-por-tipo{
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3; 
    padding: 0px;
    margin: 0px;
    justify-content: center;
    overflow: auto;
    list-style: none;
}
#busqueda-por-tipo li{
    width: 30%;
    
}
#tipos ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    justify-content: center;
}
#tipos ul li{
    width: 15%;
    color: #fff;
    text-align: center;
}
#tipos ul li:hover{
    cursor: pointer;
}
#tipos ul li img{
    width: 100%;
}
#tipos ul li p{
    margin: 0px;
}
#pantalla-resultado-tipo{
    display: none;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
}
.pantalla-resultado-tipo{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    list-style: none;
    overflow-y: auto;
}
#pantalla-resultado-tipo li p{
    color: #fff;
}
#pantalla-iconos-debilidad{
    display: none;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;    
}
#pantalla-iconos-debilidad div ul{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    list-style: none;
    justify-content: center;
}
#debilidad ul li{
    width: 15%;
    color: #fff;
    text-align: center;
}
#debilidad ul li:hover{
    cursor: pointer;
}
#debilidad ul li img{
    width: 100%;
}
#debilidad ul li p{
    margin: 0px;
}
.pantalla-resultado-debilidad{
    display:none;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
}
.pantalla-resultado-debilidad{
    
    overflow: auto;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
}
.pantalla-resultado-debilidad ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    color: #fff;
    text-align: center;
}
.pantalla-resultado-debilidad ul li{
    width: 30%;
}
.pantalla-info{
    display: none;
}
#pantalla-info{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
}
#pantalla-info div{
    color: black;
    background-color: #5f5d5d;
    height: 86%;
    width: 72%;
    border-radius: 2%;
    margin: auto;
}
#pantalla-info div h1{
    font-size: 28pt;
    margin-bottom: 5vh;
    text-align: center;
}
#pantalla-info div p{
    font-size: 16pt;
    text-align: center;
    margin-bottom: 6vh;
}
.pantalla-curiosidades{
    display: none;
}
#pantalla-curiosidades{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    justify-self: center;
}
#pantalla-curiosidades div h1{
    margin-bottom: 7vh;

}
#pantalla-curiosidades div{
    color: #fff;
    text-align: center;
    background-color: #5f5d5d;
    border-radius: 2%;
    height: 70%;
    padding: 5vh;
}
@media (min-width: 320px) and (max-width: 480px) {
    body{
        grid-template-columns: 12% 20% auto 20% 23% 3%;
        grid-template-rows: 34% 7% 3% auto 3.1% 35.1%;
    }
    body section{
        height: 92%;
    }
    .ordenar-por {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 3;
        align-self: end;
    }
    .ordenar-por label{
        font-size: medium;
    }
    .ordenar-por select{
        font-size: 10pt;
    }
    .pantalla-principal, #pantalla-ordenada, #pantalla-info, #pantalla-result-busqueda-nombre{
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 4;
    }
    #pantalla-principal ul li{
        width: 100%;
        text-align: center;
    }
    .titulo-pokedex{
        grid-row-start: 2;
    }
    .titulo-pokedex img{
        grid-column-start: 1;
        grid-column-end: 5;
        width: 73vw;
        height: 9vh;
    }
    .pantalla-buscar{
        height: 95%;
        width: 80%;
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 4;
        padding: 0;
    }
    .pantalla-buscar h1, #pantalla-info div h1, .pantalla-curiosidades div h1{
        font-size: 3vh;
        margin: 1.5vh;
    }
    .pantalla-buscar div label{
        font-size: 2vh;
    }
    .por-nombre{
        margin-bottom: 2vh;
        font-size: 2vh;
    }
    .pantalla-buscar div input{
        width: 11vh;
        font-size: 1.5vh;
        height: 2vh;
    }
    .pantalla-buscar div button{
        height: 4vh;
    }
    #tipo-pokemon, #debilidad-pokemon{
        width: 4vh;
    }
    .pantalla-info{
        height: 90%;
        overflow: auto;
        width: 100%;
    }
   #pantalla-info div{
       background: none;
       color: #fff;
   }
    #pantalla-info div p, #pantalla-curiosidades div p{
        font-size: 1.5vh;
        margin-bottom: 2vh;
    } 
    #pantalla-info div h1{
        margin-bottom: 1.5vh;
    }
    #busqueda-por-tipo li, #busqueda-por-debilidad li, #pantalla-ordenada li {
        width: 50%;
        font-size: small;
    }
    #pantalla-iconos-tipos, #pantalla-iconos-debilidad{
        grid-row-start: 4;
        height: 100%;
        width: 90%;
        overflow: auto;
    }
    .pantalla-iconos-tipos div, .pantalla-iconos-debilidad div{
        overflow: auto;
        height: 86%;
    }
    #tipos ul li{
        width: 21%;
    }
    #debilidad ul li{
        width: 23%;
    }
    #tipos ul li p, #debilidad ul li p {
        margin: 0px;
        font-size: x-small;
    }
    #pantalla-resultado-tipo, #pantalla-resultado-debilidad{
        grid-row-start: 4;
        height: 88%;
    }
    .pantalla-resultado-tipo ul, .pantalla-resultado-debilidad ul, .pantalla-ordenada ul{
        height: 100%;
    }
    .pantalla-curiosidades{
        height: 70%;
    }
    .pantalla-curiosidades div{
        padding: 0;
    }
    .botones{
        grid-row-start: 5;
    }
    .botones button#boton-buscar, .botones button#boton-info, .botones button#boton-regresar{
        margin-top: 3px;
        height: 61%;
    }
    .fa-3x {
        font-size: 1.5em;
    }
    .boton-curiosidades {
        grid-column-start: 1;
        grid-row-start: 5;
        align-self: end;
        justify-self: center;
    }
    #pantalla-result-busqueda-nombre{
        width: 100%;
        align-self: center;
    }
    #pantalla-result-busqueda-nombre ul li p{
        font-size: medium;
    }
    #pantalla-result-busqueda-nombre ul li img{
        float: left;
        height: 15vh;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 19% auto 23% 2.5%;
        grid-template-rows: 15% 18% 6% auto 6% 19.5%;
    }
    .titulo-pokedex {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
    }
    .ordenar-por {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        margin-left: 4vw;
    }
    .pantalla-principal, #pantalla-ordenada {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        height: 95%;
        overflow: auto;
    }
    .boton-curiosidades {
        grid-column-start: 1;
        grid-row-start: 5;
        align-self: end;
        justify-self: center;
    }
    .botones{
        grid-column-start: 3;
        grid-row-start: 5;
        margin: 0;
    }
    .botones button#boton-buscar, .botones button#boton-info, .botones button#boton-curiosidades{
        margin-top: 1px;
        height: 103%;
    }
    #pantalla-info {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        overflow: auto;
    }
    #pantalla-info div {
        height: 150%;
    }
    .pantalla-buscar {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        height: 90%;
        width: 83%;
    }
    .pantalla-buscar h1,div{
        margin-bottom: 2vh;
    }
    .por-tipo, .por-debilidad {
        margin-right: 3vw;
        margin-left: 9vw;
    }
    #pantalla-result-busqueda-nombre {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        width: 100%;
        align-self: center;
    }
    #pantalla-result-busqueda-nombre ul li img {
        height: 20vh;
        float: left;
    }
    #pantalla-iconos-tipos, #pantalla-iconos-debilidad {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        height: 80%;
        overflow: auto;
    }
    #tipos ul li p {
        font-size: larger;
    }
    #pantalla-resultado-tipo, .pantalla-resultado-debilidad {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        height: 95%;
    }
    #pantalla-curiosidades {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
        justify-self: center;
    }
}