*{
    margin:0;
    padding: 0;
}
/*#contenedor{
    display: block;
}*/
.header{
    display: flex;
    justify-content: center;
    height: 214px;
    width: 101%;
    padding: 0px;

}
.main{
    background-color: yellow;
}
.c-img{
    width: 80%;
    height: 100%;
    margin: 10px auto;
    display: flex;
    align-content: center;
    position: relative;
    
}
    .c-img .img-Pokedex{
         width: 100%;
         margin: 20px;
    }
.section1{
    display: flex;
    position: absolute;
    width: 100%;
    height: 92%;
    justify-content: center;

}
#lista{
    margin: 40px;
    height: 100%;


}
#lista ul{
    margin: 15px;
    padding: 10px;
    display: flex;
    width: 98%;
    height: 80%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: center; */
    overflow: auto;
    list-style: none;

}
    #lista ul li{
        margin: 10px;
        width: 29%;
        text-align: center;
        
    }
        #lista ul li:hover{
            background: rgb(236, 175, 175);
            /*padding: 10px;*/
            /*width: auto;*/
        }

#section2{
    
    /*display: none;*/

}
#tipos{
    display: none;
}
#tipos ul {
display: flex;
list-style: none;
flex-wrap: wrap;
justify-content: center;
}
#tipos ul li{
    display: flex;
    text-align: center;
    width: 33%;
    flex-direction: column;
}

